.messageContainerTopParent{
    position:fixed;
    bottom:0;
    left:0;
}
.messageContainer{
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    position: relative;
    background-color: white;
    min-height: 50vh;
    min-width: 50vw;
}
.incenter{
    position: absolute;    
    bottom: 0;
    right: 0;
}